.metodoPago{
    padding: 140px 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: green; 
    font-size: 40px;   
}

.tipoPago{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 10%;
    height: 1px; 
     
}
.btnCartao:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btnCartao:hover {
    background-color: #3e8e41
  }

